@CHARSET "ISO-8859-1";

*{outline: none;}


img{border:0px none; }

a:link{ color: #646464; }

.colorMedlabel {
			
			}
.menuLateral{
                float: left;
                width: 150px;
                padding: 10px 0px 0px 20px;
                height: 700px;
                background: #5DB3EA;
                 position: fixed;
				z-index: 20;
            }
			

            .barraEsconderMenu{
                float: left;
                width: 15px;
                height: 700px;
                background: #5DB3EA;
                padding-top:10px;
                position: fixed;
				z-index: 20;
            }
            
            
            
            .menuSet{
                float: left;
                list-style: none;
                margin: 10px 0px 15px;
                padding: 0;
                width: 150px;
                border-bottom: 1px solid #2196F9;
            }
            ol.menuSet:last-child{ border: none; }
            ol.menuSet li{
                float: left;
                width: 100%;
                margin-bottom: 20px;
            }
            ol.menuSet li a{
                float: left;
                width: 100%;
                height: 100%;
                cursor: pointer;
                color: #FFF;
                text-decoration: none;
            }
            
            
            ol.menuSet li a:hover{
                color: #d8d8d8;
            }
            #buscador{
               float: left;
               width: 150px;
               height: 12px;
               padding: 4px !important;
               border: none;
               font-style: italic;
               color: #999;
            }
            .conteDatosHeader{
               float: right;
               margin-right: 20px;
               margin-top: 12px;
            }
            .conteDatosHeader span{
                margin-top: 7px;
            }
            .usuNombre{
                float: left;
                color: #FFF !important;
                text-decoration: none;
                margin-right: 25px;
                cursor: pointer;
            }
            .labelDatos{
               float: left;
               color: #FAB640 !important; /*#269AFF*/ 
               font-weight: bold;
               margin-right: 10px;
            }
            .logoABK{
                float: left;
                width: 72px;
                height: 22px;
                margin: 16px 10px 0 20px;
                padding-left: 20px;
                border-left: 1px solid #B27D47;
            }			

.tooltipprograma{

	font-family:Calibri;
	font-size: 14.0pt; width: 230px;

}

.FondoAzulCON05{

	background-color: #004696;
	float:left;

}


.BordesLateral{



}

.BordesLateralIzquierda{

padding-left:5px;

}

.EncabezadoCON03
{

background-image: url("~/Public/css/web_ssip/elementos_tabla con03/elementos_tabla con03/barra_encabezado_largo1800.png");
background-repeat:no-repeat;
height:27px;
padding-top:5px;
padding-left:5px;
font-weight: bold;


}

.EncabezadoCON08
{

background-image: url("~/Public/css/web_ssip/elementos_tabla con03/elementos_tabla con03/barra_encabezado_largo1800masancho.png");
background-repeat:no-repeat;
height:40px;
padding-top:5px;
font-weight: bold;


}

.SubEncabezadoCON08{

	font-family: Calibri;
	background-color: #004696;
	font-weight: bold;
	color: #ffffff;

}

.PieCON03
{
	background-image: url("~/Public/css/web_ssip/elementos_tabla con03/elementos_tabla con03/barra_encabezado_largo1800.png");
background-repeat:no-repeat;
height:27px;
padding-top:5px;
font-weight: bold;



}
.ContenidoCON03Blanco
{

	background-color: #ffffff;

	float: left;





}

.ContenidoCON03GrisSinBorde
{

	background-color: #f6f6f6;

	float: left;





}

.ContenidoCON03GrisSinBorde a:LINK, a:VISITED{
	color: #135ce1;

}

.ContenidoCON03Gris
{

	background-color: #f6f6f6;

	float: left;


border: 1px dotted #969696;
	border-width: 0px 0px 0px 1px;


}

.ContenidoCON03Gris0
{

	background-color: #f6f6f6;

	float: left;


border: 1px dotted #969696;
	border-width: 0px 0px 0px 1px;


}

.ContenidoCON03Gris0
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris1
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris2
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris3
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris4
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris5
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris6
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris7
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris7
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris8
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris9
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris10
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris11
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris12
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris13
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris14
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris15
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris16
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris17
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris18
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris19
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris20
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris21
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris22
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris23
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris24
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris25
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris26
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris27
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris28
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris29
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris30
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris31
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris32
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris33
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris34
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris35
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}


.ContenidoCON03Gris36
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris37
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris38
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03Gris39
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris40
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris41
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris42
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris43
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris44
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris45
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris46
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris47
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03Gris48
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}


.ContenidoCON03Gris49
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}


.ContenidoCON03Gris50
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}


/****** PARA EL POT  *******/

.ContenidoCON03GrisPot0
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot1
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot2
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot3
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot4
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot5
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot6
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot7
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot7
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot8
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot9
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot10
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot11
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot12
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot13
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot14
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot15
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot16
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot17
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot18
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot19
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot20
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot21
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot22
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot23
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot24
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot25
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot26
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot27
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot28
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot29
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot30
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot31
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot32
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot33
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot34
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot35
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}


.ContenidoCON03GrisPot36
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot37
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot38
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}
.ContenidoCON03GrisPot39
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot40
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot41
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot42
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot43
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot44
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot45
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot46
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot47
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}

.ContenidoCON03GrisPot48
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}


.ContenidoCON03GrisPot49
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}


.ContenidoCON03GrisPot50
{background-color: #f6f6f6;	float: left;border: 1px dotted #969696;border-width: 0px 0px 0px 1px;}




.TituloCON03{
	font-size:13.0pt;
	font-weight:bold;


}
.DatoCON03{

	color: #9fd6ff;
	font-size:13.0pt;
	font-weight:bold;

}
.ContenidoCON03Gris a:LINK, a:VISITED{

	color: #135ce1;


}

.lineadivision{

	background-image: url("~/Public/css/web_ssip/menu_superior/linea_division_menu.png");


}




#POT-label, #POS-label, #SIOP-label, #OPE-label, #PlantillaPrograma-label{

	display:none;

}

.Noexiste{
	font-weight: bold;
	font-size:14.0pt;
	color: red;
}
.botonesguardarcarga{
	margin-left:260px;
}


.cuadroCargaPOTPOS{
	margin: 40px;
}

.divLogos div{
	position: absolute;
	right: 100px;
	top: 100px;
}

.pageContent{
	position: relative;
}

.PiePagina{

	color: #003280;
	font-size: 14.0pt;
	font-weight: bold;


}
.etapa{

	background-color: #000000;
	color: #ffffff;


}

.cuadrotransaccion{




}
/* Inicia la definicion de clases para la vista Admin/Programa/horasporfase   */
.TituloProgramado{

background-color: #92d050;
font-weight: bold;


}

.TituloPOSREAL{

	background-color: #b1a0c7;
font-weight: bold;

}

.TitutloRealvsProgramado{

	background-color: #c4bd97;
font-weight: bold;



}


.TituloEncabezados{

	font-weight: bold;
	color: #153f7f;

}

.TituloDatosGlobales{

	background-image: url("~/Public/css/web_ssip/elementos_programa_detallado/encabezado_lineasdiv_1700.png");
	font-weight: bold;
	background-repeat: repeat-x;


}

.datospozocontenidoCON04{

	background-color: #f6f6f6;
	float:left;
}

.datosprogramaactividades{

	background-color: #f6f6f6;

}

.actividadnormal
{

	background-color: #f6f6f6;


}

.fondotituloactividad{
	background-color:#eeeeee;
}
.etapanormal{
	background-color: #f6f6f6;
	color: #D0BA00;
	font-weight:bold;
}

.actividadenproceso{
	background-color: #f6f6f6;
	color: #0DB900;
	font-weight:bold;
}

/* Termina la definicion de clases para la vista Admin/Programa/horasporfase   */
.TituloMenuIzqNew{
	height: 25px;
	padding-top: 10px;
	font-weight:bold;
	font-size:13pt;
	/*border-style:solid;*/
	border-bottom: 3px solid #003280;
	color: #003280;
}

.DatosMenuIzqNew{
	margin:10px;
	font-size:12.0pt;
}
.DatosMenuIzqNew a:link, .DatosMenuIzqNew a:visited{ color: #646464; }

.DatosMenuIzqNew a:hover{ color: #3BAAFF; }

.DivExterior a:link, .DivExterior a:visited{ color: #646464; }

/*.FondoMenuLateral a:link, a:visited{ color: #646464; }*/

.FondoMenuLateral{
	background-image: url("~/Public/css/web_ssip/elementos_fondo/frnaga_lateral_gris.png");
	padding-left:20px;
}

#DivTituloStatus{
	background-color: #58595a;
	color: #ffffff;
	height: 40px;
	border-radius:9px 9px 9px 9px;
}

#DivTituloStatus div{
	margin:10px;
}
#DivDatosStatus{
	background-color: #eeeff0;
	height: 50px;
}

#DivDatosStatus div{
	margin:10px;
}

.NombrePozoEstatus{
	font-weight: bold;
	font-size: 30.0pt;
}
.TituloStatus{
	font-weight: bold;
	font-size: 16.0pt;
}
.DatosStatus
{
	font-weight: bold;
	font-size: 15.0pt;


}

.TituloNombreNuevo
{
	font-family: Calibri;
	color: #0b408c;
	font-weight: bold;
	font-size: 15px;


}

.TituloSeccionNuevo
{
	font-family: Calibri;
	color: #5d90cf;
	font-size: 14px;


}


.SubtitulosDatosNuevo
{
	font-family: Calibri;
	color: #6f6661;
	font-weight: bold;
	font-size: 13px;


}







.topnav ul, .topnav ul li
{

	display: inline;
	padding: 0px;


}

#button {
padding: 0;
}

#button li {
display: inline;
}





#Avisos {
padding: 0;
}

#Avisos li {
display: inline;
}

#Avisos  {
margin-top:20px;
}

#button li a {
font-family: Arial;
font-size:11px;
text-decoration: none;
float:left;
padding: 10px;
background-color: #f4f4f4;
color: #a6a6a6;
}

.FechaSuperior {
font-family: Arial;
font-size:11px;
text-decoration: none;
text-align:center;
float:left;
padding: 10px;
background-color: #f4f4f4;
color: #a6a6a6;
margin-top:10px;

}

.AyudaSalir {
font-family: Arial;
font-size:11px;
text-decoration: none;
text-align:Right;
float:left;
padding: 10px;
background-color: #f4f4f4;
color: #a6a6a6;
margin-top:10px;

}

#Busqueda {
text-decoration: none;
float:left;
padding: 10px;
/*background-color: #f4f4f4;*/
color: #a6a6a6;
margin-top:12px;

}

#button li a:hover
{
color: #000000;
background-color: #d9d9d9;
margin-top:-2px;
padding-bottom:12px;
}

#caja {
float: left;
background: #404040;
height: 55px;
width: 100%;
position:fixed;
z-index:10;
}

#cajapie {
float: left;
height: 55px;
width: 100%;
z-index:10;
}

/* PARA EL MODULO CONSULTA */
#caja2 {
background-image: url("~/Public/css/images/header_ssip_consulta.png"); /*#023479;*/
background-repeat:no-repeat;

height: 65px;

border-radius:0px 0px 0px 0px;
}

.cajasubmenu {
background-color: #002351; /*#023479;*/
/*background-image: url("/css/images/cajasubmenu.png");*/
height: 42px;

/*width: 400px;
padding: 10px;
*/

}

.Conteo{
color: #c6d9f1;
}

.TextoConteo{

font-size: 8.0pt;

}

.NumeroConteo{
font-size: 16.0pt;
font-weight: bold;


}

#Menu{
list-style-type: none;



}

#Menu li{
list-style-type: none;
padding: 5px;



}

#Menu li a{
color: #558ed5;
font-size: 9.0pt;
font-family: Arial;


}

.Titulo{
color: #595959;
font-weight:bold;
font-size: 9.5pt;
font-family: Arial;
background-image: url("~/Public/css/TituloMenuFondo.png");
background-repeat:no-repeat;
padding: 10px;

}

.FondoMenuIzq{

background-image: url('~/Public/css/FondoMenuIzq.png');
background-repeat: repeat-y;

}

.Blanco{

 /*background-color: #ffffff;*/
}

.DivExterior{

padding: 5px;
border-radius:9px 9px 9px 9px;
}


.DivInterior {

margin:7px 7px 7px 7px; background-color: #f6f6f6;
border-radius:9px 9px 9px 9px;
padding: 10px;
}

.DivInteriorTenue {

margin:7px 7px 7px 7px; background-color: #f6f6f6;
border-radius:9px 9px 9px 9px;
padding: 10px;
}


.DivConfirmacion{

background-color: #99ffcc;padding: 5px;
border-radius:9px 9px 9px 9px;
}

.DivError{
color: #ffffff;
background-color: #d54343 ;padding: 5px;
border-radius:9px 9px 9px 9px;
}

.TituloDivExterior
{
font-weight:bold;
color: #0070c0;

}

DIV#SubtituloCatalogo {
position: absolute;
               top: 10px;
               left: 400px
}
.BolsaTrabajoTitulo{
color: #28276d;
font-size: 13.0pt;
font-weight: bold;
}

.TituloDatos
{
font-weight:bold;
color: #003280;
font-size: 13.0pt;
}

.TituloVentanas{
font-family: Calibri;
background-image: url("~/Public/css/web_ssip/elementos_fondo/area_titulos.png");
font-size: 18.0pt;
/*font-weight: bold;*/
color: #2d2d2d;

}


.TituloAzul {
    background-color: #3B59DD;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}



.TituloAzulClaro {
    background-color: #3BAAFF;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}

	.tabrow {
		    text-align: center;
		    list-style: none;
		   /* margin: 200px 0 20px; */
		    padding: 0;
		    line-height: 24px;
		    height: 26px;
		    overflow: hidden;
		    font-size: 12.0pt;
		    font-family: Calibri;
		    position: relative;
		}
		.tabrow li {
		    border: 1px solid #0054a6;
		    /* background: #0070c0; */
		    background: #0054a6;
		    background: -o-linear-gradient(top, #0054a6 50%, #0054a6 100%);
		    background: -ms-linear-gradient(top, #0054a6 50%, #0054a6 100%);
		    background: -moz-linear-gradient(top, #0054a6 50%, #0054a6 100%);
		    background: -webkit-linear-gradient(top, #0054a6 50%, #0054a6 100%);
		    background: linear-gradient(top, #0054a6 50%, #0054a6 100%);
		    display: inline-block;
		    position: relative;
		    z-index: 0;
		    border-top-left-radius: 6px;
		    border-top-right-radius: 6px;
		    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
		    margin: 0 -5px;
		    padding: 0 10px;
		    color: #ffffff;
		    font-weight: bold;
		    font-size: 13.0pt;
		}
		.tabrow a {
			  color: #555;
			  text-decoration: none;
		}
		.tabrow li.selected {
		    background: #FFF;
		    color: #333;
		    z-index: 0;
		    border-bottom-color: #FFF;
		}
		.tabrow li.selected a{
		    background: #FFF;
		    color: #2E64FE;
		    z-index: 0;
		    border-bottom-color: #FFF;
		}
		.tabrow:before {
		    position: absolute;
		    content: " ";
		    width: 100%;
		    bottom: 0;
		    left: 0;
		    border-bottom: 1px solid #AAA;
		    z-index: 0;
		}
		.tabrow li:before,
		.tabrow li:after {
		    border: 1px solid #AAA;
		    position: absolute;
		    bottom: -1px;
		    width: 5px;
		    height: 5px;
		    content: " ";
		}
		.tabrow li:before {
		    left: -6px;
		    border-bottom-right-radius: 6px;
		    border-width: 0 1px 1px 0;
		    box-shadow: 2px 2px 0 #0054a6;
		}
		.tabrow li:after {
		    right: -6px;
		    border-bottom-left-radius: 6px;
		    border-width: 0 0 1px 1px;
		    box-shadow: -2px 2px 0 #0054a6;
		}
		.tabrow li.selected:before {
		    box-shadow: 2px 2px 0 #FFF;
		}
		.tabrow li.selected:after {
		    box-shadow: -2px 2px 0 #FFF;
		}
.LabelTituloDatosBolsaTrabajo{

	font-weight: bold;

}

.LabelDatosBolsaTrabajo{

	font-size: 12.0pt;

}

.LabelDatosBolsaTrabajoNombre{
	font-size: 14.0pt;
	font-weight: bold;

}


.TituloVentanasDatosPersonal{

color: #7f7f7f;
font-size: 15.0pt;
font-weight: bold;
background-color: #e7f2f7;

}

.SubtituloVentanasDatosPersonal{

color: #7f7f7f;
font-size: 8.0pt;
font-weight: bold;
background-color: #e7f2f7;

}

.SubtitulosDatosPersonal{

color: #0070c0;
font-size: 8.0pt;
font-weight: bold;


}

.pest a{
	color: #ffffff;

}

.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }

.TituloTabla{

	font-size: 12.0pt;
	font-weight: bold;
	color: #0070c0;

}


.DocsPendientes
{

	background-color: #fda700;

}


.DocsNoaplica
{


	/*background-color: #fbf9f5; */
	color: #dddcda;
	font-weight: normal;

}



.BordeInferior
{
	border-bottom: 1px solid #C0C0C0;


}

.Blanco
{
	background-color: #ffffff
}


/******************************************************
	COLORRES PARA LOS TIPOS DE INTERVENCION
*******************************************************/

.PERF {
    background-color: #00d7bb;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}

.TERM {
    background-color: #f5f900;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}


.RMA {
    background-color: #4836fb;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}


.RME {
    background-color: #00d936;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}


.EST {
    background-color: #ffc100;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}

.TI {
    background-color: #00baff;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}

.TAP {
    background-color: #aeb3b5;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}


.MOV {
    background-color: #c6c6c6;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}

.MANT {
    background-color: #c6c6c6;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}

.INAC {
    background-color: #c6c6c6;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}


.SPER {
    background-color: #c6c6c6;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}


.STER {
    background-color: #c6c6c6;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}


.SRMA {
    background-color: #c6c6c6;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}

.LICIT {
    background-color: #c6c6c6;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}

.ITEM {
    background-color: #c6c6c6;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}

.SRME {
    background-color: #c6c6c6;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}

.STER {
    background-color: #c6c6c6;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}

.STI {
    background-color: #c6c6c6;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}

.SPER {
    background-color: #c6c6c6;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}

.ALIE {
    background-color: #c6c6c6;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}


.OTROS {
    background-color: #c3c3c3;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
}


.push-3delgado {
    margin: 0 -120px 0 120px;
}

.push-2delgado {
    margin: 0 -80px 0 80px;
}


/******************************************************
	EFECTO ACORDEON
*******************************************************/


dt
{
   background: #e3e3e3;
   border-bottom: 1px solid #c5c5c5;
   border-top: 1px solid white;
   cursor: pointer;
   font-weight: bold;
   font-size: 11pt;
   line-height: 2em;
}

dd
{
   margin: 0;
   padding: 1em 0;
   padding-left: 20px;
}

.esconder
{
   display: none;
}



/******************************************************
	OPCIONES PESTAï¿½AS (FEAS) =P
*******************************************************/




.ulPestagnas{list-style: none; margin: 0px; height: 40px; padding-left: 2px; }
.ulPestagnas li{float: left; width: 160px; }
.ulPestagnas li a
{
	color: #646464;
	font-size:13.0pt;
	text-align: center;
	text-decoration: none;
	display: block;
	height: 30px;
	background: url("~/Public/css/web_ssip/menu_superior/bt_neutro.png");
	background-repeat:repeat-x;
	padding-top: 20px;
	border: 1px solid #969696;
	border-width: 0px 0px 0px 1px;
}

.ulPestagnas li .pesta.sin-borde {
    border: medium none;
}

.ulPestagnas li .pesta.doblerenglon {
    padding-top:7px;
    padding-bottom: 13px;
}

.ulPestagnas li a:hover{background: url("~/Public/css/web_ssip/menu_superior/bt_seleccion.png"); color: #00B0FF}
.ulPestagnas li a.activo{
	background: url("~/Public/css/web_ssip/menu_superior/bt_seleccion.png");
	color: #00B0FF
	}


.divFilaCompleta{background: url("trama2.png") repeat;}

.perf{background: url("bg_perf.png") repeat-x; color: #fff;}
.sperf{background: url("bg_perf.png") repeat-x; color: #fff;}
.estruc{background: url("bg_estruc") repeat-x; color: #000;}
.tap{background: url("bg_tap.png") repeat-x; color: #000;}
.mov{background: url("bg_mov.png") repeat-x; color: #000;}
.smov{background: url("bg_mov.png") repeat-x; color: #000;}
.licit{background: url("bg_licit.png") repeat-x; color: #000;}
.mant{background: url("bg_mant.png") repeat-x; color: #000;}
.item{background: url("bg_item.png") repeat-x; color: #000;}
.inac{background: url("bg_inac.png") repeat-x; color: #000;}
.otros{background: url("bg_otros.png") repeat-x; color: #000;}
.term{background: url("bg_term.png") repeat-x; color: #000;}
.sterm{background: url("bg_term.png") repeat-x; color: #000;}
.rma{background: url("bg_rma.png") repeat-x; color: #fff;}
.srma{background: url("bg_rma.png") repeat-x; color: #fff;}
.rme{background: url("bg_rme.png") repeat-x; color: #000;}
.srme{background: url("bg_rme.png") repeat-x; color: #000;}
.ti{background: url("bg_ti.png") repeat-x; color: #000;}
.sti{background: url("bg_ti.png") repeat-x; color: #000;}
.est{background: url("bg_est.png") repeat-x; color: #000;}
.inter{background: url("bg_inter.png") repeat-x; color: #000;}

/*.est{background-color: #ffc000; color: #000;}
.perf{background-color: #339966; color: #fff;}
.rma{background-color: #0000ff; color:#fff;}
.rme{background-color: #99cc00; color: #000;}
.term{background-color: #ffff00; color: #000;}*/

#btnPerf.btnActivo{background: url("btnPerf.png") no-repeat; color:#fff;}
#btnEstruc.btnActivo{background: url("btnEstruc.png") no-repeat;}
#btnTap.btnActivo{background: url("btnTap.png") no-repeat;}
#btnMov.btnActivo{background: url("btnMov.png") no-repeat;}
#btnLicit.btnActivo{background: url("btnLicit.png") no-repeat;}
#btnMant.btnActivo{background: url("btnMant.png") no-repeat;}
#btnItem.btnActivo{background: url("btnItem.png") no-repeat;}
#btnInac.btnActivo{background: url("btnInac.png") no-repeat;}
#btnOtros.btnActivo{background: url("btnOtros.png") no-repeat;}
#btnTerm.btnActivo{background: url("btnTerm.png") no-repeat;}
#btnRma.btnActivo{background: url("btnRma.png") no-repeat; color:#fff;}
#btnRme.btnActivo{background: url("btnRme.png") no-repeat;}
#btnTi.btnActivo{background: url("btnTi.png") no-repeat;}
#btnEst.btnActivo{background: url("btnEst.png") no-repeat;}
#btnInter.btnActivo{background: url("btnInter.png") no-repeat;}


#btnPerf.btnActivoPot{background: url("btnPerf.png") no-repeat; color:#fff;}
#btnEstruc.btnActivoPot{background: url("btnEstruc.png") no-repeat;}
#btnTap.btnActivoPot{background: url("btnTap.png") no-repeat;}
#btnMov.btnActivoPot{background: url("btnMov.png") no-repeat;}
#btnLicit.btnActivoPot{background: url("btnLicit.png") no-repeat;}
#btnMant.btnActivoPot{background: url("btnMant.png") no-repeat;}
#btnItem.btnActivoPot{background: url("btnItem.png") no-repeat;}
#btnInac.btnActivoPot{background: url("btnInac.png") no-repeat;}
#btnOtros.btnActivoPot{background: url("btnOtros.png") no-repeat;}
#btnTerm.btnActivoPot{background: url("btnTerm.png") no-repeat;}
#btnRma.btnActivoPot{background: url("btnRma.png") no-repeat; color:#fff;}
#btnRme.btnActivoPot{background: url("btnRme.png") no-repeat;}
#btnTi.btnActivoPot{background: url("btnTi.png") no-repeat;}
#btnEst.btnActivoPot{background: url("btnEst.png") no-repeat;}
#btnInter.btnActivoPot{background: url("btnInter.png") no-repeat;}


/******************************************************
	OPCIONES SUBPESTAï¿½AS (FEAS) =P
*******************************************************/
.ulSubpestagnas{
	list-style: none; margin: 0px; height: 50px; padding-left: 2px;
	/*background: #003280;*/
	}
.ulSubpestagnas li{float: left; width: 160px;}
.ulSubpestagnas li a
{
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	display: block;
	/*width: 250px;*/
	height: 20px;
	background: #003280;
	padding-left: 30px;
	padding-right: 40px;
}
.ulSubpestagnas li a:hover{color: #00B0FF}
.ulSubpestagnas li a.activo{background: #003280; color: #00B0FF}

/******************************************************
	OPCIONES PESTAï¿½AS MINI (FEAS) =P
*******************************************************/
.ulPestagnasMini{list-style: none; margin: 0px; height: 50px; padding-left: 2px; width: 1000px;}
.ulPestagnasMini li{float: left; width: 31px; border-right: 1px solid #ebebeb; background-color: #fff;}
.ulPestagnasMini li a
{
	color: #08377b;
	font-size:12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 30px;
	height: 17px;
	padding-top: 3px;
}
.ulPestagnasMini li a:hover{}
.ulPestagnasMini li a.activo{}

.divPreview{background: url("bg_cattool.png") no-repeat;}
.divElementosListados ul.ListaElementos li:hover{
	background-image: url("bf_flechatool.png");
	background-repeat: no-repeat;
	background-position: right;
}

/********************************************************************
				OPCIONES GRAFICA ARRENDAMIENTO
********************************************************************/
.vigente{background-image: url("txtVigente.png"); background-repeat: no-repeat; background-position: center;}
.nopemex{background-color: #339966;}
.vencido{background-image: url("txtVencido.png");  background-repeat: no-repeat; background-position: center; background-color: #ef8b09;}
.pemex{background-color: #ffc000; background-image: url("txtPemex.png");  background-repeat: no-repeat; background-position: center;}


/******************************************************************************
*				ESTILO DE EVALUACION ACTIVIDADES 							  *
******************************************************************************/
.btnAdd{display: block; float: right; width: 30px; height: 24px; background: url("btnAdd.png") no-repeat; background-position: left; margin-left:5px;}
.btnEdit{display: block; float: right; width: 30px; height: 24px; background: url("btnEdit.png") no-repeat; background-position: left;}
.btnSave{display: block; float: right; width: 30px; height: 24px; background: url("btnSAve.png") no-repeat; background-position: left;}
.btnCancel{display: block; float: right; width: 30px; height: 24px; background: url("btnCancel.png") no-repeat; background-position: left; margin-left: 5px;}



/***************************************************************************
*							COLAPSE CONO1									*
****************************************************************************/
.iconColapse{float: left; width: 20px; height: 16px; padding-top: 7px;}
#more{background-image: url("more.png"); background-repeat: no-repeat; background-position: 0px 7px;}
#less{background-image: url("less.png"); background-repeat: no-repeat; background-position: 0px 7px; display: none;}



/********************************************************************
	TABLAS ESTADISTICAS Y GANTT
*********************************************************************/
.titleTablas{color: #08377B; font-weight:bold; font-size:16px;}
.tdblanca{color:#003366;}
.tdColoreada{background-color:#F5F8FB; border-bottom: 1px solid #E3ECF3; border-top: 1px solid #E3ECF3;color:#003366;}
.tdEnproceso{color:#7bb950;}

/********************************************************************
	Stilos Modulo Consulta
*********************************************************************/
.TipoActividadTitulo{

color: #002451;
font-weight: bold;
font-size: 12.0pt;

}

.PozoConsultaIndex{

color: #00b0f0;
font-weight: bold;
font-size: 13.0pt;

}

.PozoConsultaIndex a{

color: #00b0f0;
font-weight: bold;
font-size: 13.0pt;

}


.FondoAzulConsulta{

	color: #00b0f0;
	font-weight: bold;

}

.CajaIzquierdaConsulta{

	background: #002451;

}

.FondoAzulLeveConsulta{

	background: #004594;

}

.NombrePozoConsulta{

	color: #ffffff;
	font-weight: bold;
	font-size: 26.0pt;

}

.ActividadConsulta{

	color: #ffffff;
	font-weight: bold;
	font-size: 14.0pt;

}

.EquipoConsulta{

	color: #ffffff;
	font-size: 12.0pt;
	font-weight: bold;

}


.RentaConsulta{

	color: #ffffff;
	font-size: 10.0pt;

}

.ProyectoTiempoConsulta
{
	color: #ffffff;
	font-weight: bold;
	font-size: 20.0pt;

}

.OPConsulta
{
	color: #ffffff;
	font-weight: bold;
	font-size: 20.0pt;

}

.EncabezadoTitulosConsulta{

	background-color: #004594;
	color: #ffffff;


}

.EncabezadoTitulosDesviacionesConsulta{

	background-color: #004594;
	color: #ffffff;
	font-size: 14.0pt;


}

.ContenidoConsultaIndexindex{

	background-color: #f5f5f5;



}

.PorcentajeConsulta
{

	color: #ffffff;
	font-size: 12.0pt;


}


.etapanormalConsulta{
	background-color: #e6e6e6;
	color: #004594;
	font-weight:bold;
	font-size: 14.0pt;

}

.titulooperacionConsulta{

	background-color: #558bb6;
	font-weight:bold;
	font-size: 14.0pt;
	color: #ffffff;


}

.datosoperacionConsulta{

	background-color: #f5f5f5;

	font-size: 12.0pt;
	color: #666666;


}

.ulPos
{
	list-style: none;
}







#menu_1 .ulPestagnas{ list-style: none; margin: 0px; height: 40px; padding-left: 2px; }
#menu_1 .ulPestagnas li{float: left;  width: auto;}
#menu_1 .ulPestagnas{ float: left;  }
#menu_1 .ulPestagnas li a.activo,
#menu_1 .ulPestagnas li a:hover{
    background: white;
    color: #0094FF;
}
#menu_1 .ulPestagnas li{
    background: white;
}
#menu_1 .ulPestagnas li:last-child{
    border-right: none;
}

#menu_1 .ulPestagnas li a{
    border: none;
    border-right: 1px solid #0094FF;
    background: white;
    color: #333333;
    display: block;
    font-size: 12pt !important;
    height: auto;
    text-align: center;
    text-decoration: none;
    /*line-height: 1.8;*/
    padding: 2px 17px;
    margin-bottom: 10px;
}





#menu_2 .ulPestagnas{ list-style: none; margin: 0px; height: auto; padding-left: 2px; }
#menu_2 .ulPestagnas li{float: left; width: auto;  }

/* #menu_2 .ulPestagnas{ float: left;  width: 1030px !important; } */
#menu_2 .ulPestagnas{ float: left;  }
#menu_2 .ulPestagnas li a.activo,
#menu_2 .ulPestagnas li a:hover{
    background: #0094FF !important;
    color: #FFF !important;
}
#menu_2 .ulPestagnas li{
    /*width: 147px !important;*/
    /*padding: 0 20px;*/
    background: #E6E6E6 !important;
}
#menu_2 .ulPestagnas li a{
    /*float: left;*/
    background: #E6E6E6 !important;
    /*width: 100% !important;*/
    display: block;
    font-size: 12pt !important;
    height: 30px;
    /*padding-top: 11px;*/
    text-align: center;
    text-decoration: none;
    color: #646464 !important;
    border: none !important;
    line-height: 1.8;
    padding: 0 17px;
}



#menu_2_2 .ulPestagnas{ list-style: none; margin: 0px; height: auto; padding-left: 2px; }
#menu_2_2 .ulPestagnas li{float: left; width: auto;  }

#menu_2_2 .ulPestagnas{ float: left ; }
#menu_2_2 .ulPestagnas li a.activo,
#menu_2_2 .ulPestagnas li a:hover{
    background: #0094FF !important;
    color: #FFF !important;
}
#menu_2_2 .ulPestagnas li{
    /*width: 147px !important;*/
    /*padding: 0 20px;*/
    background: #003c89 !important;
}
#menu_2_2 .ulPestagnas li a{
    background: #003c89 !important;
    display: block;
    font-size: 10pt !important;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: white ;
    border: none !important;
    line-height: 2;
    padding: 0 7px;
}













a.btRegresarAnterior{
    position: relative;
    float: right;
    background: #E6E6E6 url("~/Public/css/pestana_btn_regresar.png") left center no-repeat;
    padding: 3px 10px 4px 35px;
    text-decoration: none;
    color: #004594 ;
}
a.btRegresarAnterior:hover{
    color: white;
    background-color: #0094FF;
}


.divEdicion{display:none;}




/*Modulos Proyecto info*/
    .boxContenGeneral{
        /*position: relative;*/
        /*float: left;*/
        margin: 20px;
    }
    .boxDatosInicio{
        position: relative;
        float: left;
        min-width: 1024px;
        height: 111px;
    }
    .setDatosProyecto{
        float: left;
        width: 670px;
        height: 100%;
        background: #266EC7;
    }
    .textNombProy{
        float: left;
        padding: 10px;
        border-bottom: 1px solid #165DBA;
        width: 650px;
        height: 20px;
        color: #FFF;
        background: #0045A9;
    }
    .textDescProy{
        float: left;
        padding: 10px;
        width: 650px;
        height: 50px;
        color: #FFF;
    }
    .setDatosUsuario{
        float: left;
        width: 333px;
        height: auto;
        padding: 10px;
        background: #F5F5F5;
    }
    .setDatosUsuario ol{
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .setDatosUsuario ol li{
        float: left;
        width: 100%;
        margin-bottom: 5px;
    }
    .setDatosSema{
        float: left;
        height: 21px;
        padding: 0 0 0 25px;
        background: url('~/Public/css/semaforos_sinborde.png') no-repeat;
        color: #FFF;
    }
    .sem_rojo{ background-position: 0 0; }
    .sem_verde{ background-position: 0 -22px; }
    .sem_amarillo{ background-position: 0 -44px; }
    .sem_azul{ background-position: 0 -66px; }

    .setDatosPrio{
        float: right;
    }
    .labelDatos{
        float: left;
        color: #FAB640;/*#266EC7*/
    }
    .infoDatos{
        float: left;
        color: #000;
    }
    .datoMayus{ text-transform: uppercase; }
    .boxDatosTiempos{
        position: relative;
        float: left;
        min-width: 1024px;
        margin-top: 20px;
    }
    .setBoxMedios{
        float: left;
        width: 360px;
        height: 250px;
    }
    .boxMedios{
        float: left;
        width: 160px;
        height: 100px;
        margin-right: 20px;
        background: #F5F5F5; /*#5DB3EA url("/css/titulo_panel.png") top no-repeat*/
    }
    .textBoxMed{
        position: relative;
        float: left;
        width: 140px;
        height: 22px;
        background: #006ECB;
        padding: 10px;
        margin-bottom: 15px;
        color: #FFFFFF;
    }
    .boxGrande{
        float: left;
        /*width: 211px;*/
        width: 180px;
        height: 220px;
        margin-right: 20px;
        background: #F5F5F5;  /*#5DB3EA url("/css/titulo_panel.png") top no-repeat*/
    }
    .boxGrandeFinal{
        float: left;
        width: 278px;
    }
    .boxGrandeFinal a{
        float: left;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .boxDatosExtras{
        float: left;
        min-width: 1024px;
        /*height: 150px;*/
        margin-bottom: 20px;
    }
    .setBarraExtra{
        float: left;
        position: relative;
        height: 35px;
        width: 1024px;
        background: #006ECB;
    }
    
    .setBarraExtraTitle{background:#5db3ea;}
    
    .setBarraExtra .titulo,
    .fecha{
    	border-right: 1px solid #0045A9;
        color: #FFFFFF;
        font-size: 1.2em;
        font-weight: bold;
        height: 20px;
        margin: 5px 5px 5px 30px;
        width: 129px;
       float:left;
    }
    
    .setBarraExtraTitle .titulo{border-right:0px none;}

    .setBarraExtra .fecha{
    	font-weight: normal;
    	width: 500px;
    	border-right: 0px none;
    }


    .pestanaBarExtra{
        position: absolute;
        bottom: -13px;
        left: 80px;
        width: 22px;
        height: 13px;
        background: url("~/Public/css/pestana_seguimiento.png") no-repeat;
    }
    
    .pestanaBarEsconder{
        position: absolute;
        top: 20px;
        right: 0px;
        width: 11px;
        height: 22px;
        background: url("~/Public/css/pestana_esconder.png") no-repeat;
        cursor:pointer;
        
    }
    
    .pestanaBarMostrar{
        position: absolute;
        top: 20px;
        right: -11px;
        width: 11px;
        height: 22px;
        background: url("~/Public/css/pestana_mostrar.png") no-repeat;
        cursor:pointer;
        display:none;
    }
    
    .setBarraExtraCont{
        float: left;
        width: 994px;
        min-height: 60px;
        background: #F5F5F5;
        padding: 15px;
    }

    .semaforo
    {
    	display:block;
    	background-image: url("~/Public/css/semaforos_borde.png");
    	background-repeat:no-repeat;
    	width: 23px;
        height: 23px;
    }

    .rojo
    {
    	background-position:0px 0px;
    }

    .verde
    {
    	background-position:0px -24px;
    }

    .amarillo
    {
    	background-position:0px -47px;

    }

    .azul
    {
    	background-position:0px -70px;

    }

    .graficaAvance{
        float: left;
        width: 105px;
        height: 20px;
        margin: 10px 5px;
        background: #CAEAFF;
    }
    #graficaAvanceBg{
        float: left;
        height: 100%;
        background: #006ECB;
    }
    .textAvance{
        float: left;
        /*width: 45px;
        height: 20px;*/
        margin-top: 10px;
        color: #000;
    }
    .textBoxMedLabel{
        float: left;
        width: 190px;
        margin: 0 10px;
        color: #2555FA;
    }
    .textBoxMedInfo{
        float: left;
        width: 140px;
        margin: 2px 10px 0;
        color: #000;
    }
    .textBoxGraInfo{
        float: left;
        width: 190px;
        margin: 10px 10px 0;
        color: #000;
    }
    .textBoxGraInfo input[type="text"]{  width: 100% !important; }
    .labelBarExt1{
        float: left;
        padding: 1px 20px 1px 10px;
        padding: 7px 20px 5px 10px;
        color: #FFF;
        border-right: 1px solid #165DBA;
    }
    .btnHist{
        float: left;
        margin: 10px 20px 10px 10px;
        padding: 10px 20px 10px 40px;
        height: 20px;
        color: #FFF;
        background: url("~/Public/css/icono_historico.jpg") no-repeat;
        cursor: pointer;
    }
    .btnNuevo{
        float: left;
        margin: 10px 20px 10px 10px;
        padding: 10px 20px 10px 40px;
        height: 20px;
        color: #FFF;
        background: url("~/Public/css/icono_agnadir.jpg") no-repeat;
        cursor: pointer;
    }

    .pestanaBoxMed{
        position: absolute;
        bottom: -13px;
        left: 19px;
        width: 22px;
        height: 13px;
        background: url("~/Public/css/pestana_seguimiento.png") no-repeat;
    }

    .mb{ margin-bottom: 20px; }
    .mb15{ margin-bottom: 15px; }

    .btnEnviarMail{
    	display:block;
    	width: 152px;
        height: 32px;
        background: url("~/Public/css/btnEnviarMail.png") no-repeat;
        float:left;

    }

    .btnImprimir{
    	display:block;
    	width: 100px;
        height: 32px;
        background: url("~/Public/css/btnImprimir.png") no-repeat;
        float:left;

    }


    .button, a.button, a:active.button, a:link.button,  a:visited.button {
        background-color: #006ECB;
        color: white;
        padding: 5px 10px;
        margin: 1px 3px;
        cursor: pointer;
        /*border-radius: 4px;*/
        font-family: Calibri;
        text-decoration: none;
    }

    .button i{
        margin-right: 5px;
    }
    .button-icon i{
        margin: 0;
    }

    .button-alt{
        background: #0045A9;
        margin: 0;
        width: 85%;
    }

    .popup-question{
        display: none;
        /*width: 500px;*/
        padding: 10px 15px 10px 5px;
        border: 1px solid #006ECB;
        background: #CAEAFF;
        position: fixed;
        z-index: 100;
        margin-left: 3px;

    }
    
    
ul.filtros {
    width: 98%;
    background-color: #404040;
    float: left;
    list-style: none outside none;
    margin-top: 0;
    margin-left: 0;
    text-decoration: none;
    padding:0px;
}


ul.filtros li {
    color: #CCCCCC;
    float: left;
    
}


ul.filtros li a {
	padding: 5px 10px;
	background-color: #404040;
    color: #CCCCCC;
    text-decoration: none;
    display:block;
    width:100%;
    height:100%;
    font-size: 14px;
}


ul.filtros li a:hover{background-color:#262626;}
ul.filtros li a.activo{background-color:#262626;}

/* CSS TOLTIP MANUEL */    	
  .inputInfo #Supervisor{
     float: left;
     width: 244px;
     padding: 1px;
 }
 .inputInfo #Responsable{
     float: left;
     width: 232px;
     padding: 1px;
 }
 .boxAsignacionList li{
     float: left;
     width: 100%;
 }
 
 .boxAsignacionList{
     display: none;
     position: absolute;
     list-style: none;
     width: 350px;
     margin: 0;
     padding: 0;
     background: #F9F9F9;
     border: 3px solid #959FA9;
     border-radius: 6px;
     z-index:1;
 }
 .labelAsigHd{
     float: left;
     width: 330px;
     padding: 5px 10px;
     background-color: #3570AE;
     padding: 5px 10px;
     border-radius: 3px 3px 0 0;
     color: #FFF !important;
     font-weight: bold;
 }
 .labelAsigNmb{
     float: left;
     padding: 3px;
     padding: 5px 10px;
 }
 .lbSupervisor, .lbResponsable{
     cursor: pointer;
 }

 .modTextBoxMed{
     width: 160px;
 }
 
 #tblDatosProyectos tr th{background-color:#006ECB; color:#fff;}
 #tblDatosProyectos tr td{background-color:#F5F5F5; color:#000; }
 
 
 

#docs-files-container{
    list-style: none
}

#docs-files-container li{
    margin: 12px 2px ;
}

.docs-history-select{
    width: 190px;
}

 
.docs-history-viewer{
    background: none repeat scroll 0 0 #CAEAFF;
    border: 1px solid #006ECB;
    display: none;
    margin-left: 3px;
    padding: 10px 15px 10px 5px;
    position: absolute;
    /*z-index: 100;*/
    width: 200px;
    text-align: center;
}

.spanAvance{color: #266ec7;}









.filtros-sticky{
    margin-left: 123px;
}

#divloader{
    width: 1080px;
    margin-top: 50px;
    margin-left: 20px;
}

#reporte_actions{    
    background: url("~/Public/css/intro_elementos/recuadrito_menu_principal.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    /*margin-top: 28px;*/
    position: fixed;
    z-index: 9;
    padding-bottom: 10px;
    width: 1080px;
    height:50px;
}

#filtros-container{
    height: 40px; 
    position: fixed; 
    z-index: 10; 
    background: url("~/Public/css/intro_elementos/recuadrito_menu_principal.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 1080px; 
    padding-top: 10px;
    margin-left: 20px;
}


















