.logotransitheader a img{
	width: 160px !important;
}
.logoABK{
	margin: 16px 10px 0 !important;
	padding-left: 10px !important;
}
.logoABK img{ 
	width: 45px !important;
}
.conteDatosHeader span{
	font-size: 11px !important;
}
span.lbl-titulo-g{
	margin: 15px 0;
	font-size: 11px;
} 

.submenu-seccion li a{
	font-size: 11px !important; 
	padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.cnt-graf-datos{ width: 260px !important; }

img.img-titulo {
    float: left;
    margin: 5px !important;
}

/** soporte fuente **/
.spt-fnt-20{
	font-size: 20px !important;
}