body{  }

label.error { color: red; }

/** Generales **/
a{
    text-decoration: none !important;
    cursor: pointer;
}

.center{
    margin-left: auto !important;
    margin-right: auto !important;
}

.pos-rel{ position: relative; }

.pos-abs{ position: absolute; }

.no-borde{ border: none !important; }
.bor-dark{ border-color: #000; }
.bor-marron{ border-color: #AB2500; }
.brt-dark{ border-top: solid 1px #222; }
.brb-dark{ border-bottom: solid 1px #222; }
.brt-verdesoft{ border-top: solid 1px #006C74; }
.bor-verdeazul{ border-right: solid 1px #00656D; }
.bor-gris{ border-right: solid 1px #E8E7E4; }
.brr-gris-l{ border-right: solid 1px #B9B9B0 !important; }
.brb-gris{ border-bottom: solid 1px #E8E7E4; }
.brt-blanco{ border-top: solid 1px #FFF; }

.no-mr{ margin: 0 !important; }
.mrt-0{ margin-top: 0 !important; }
.mrr-0{ margin-right: 0 !important; }
.mrb-0{ margin-bottom: 0 !important; }
.mrl-0{ margin-left: 0 !important; }

.mrt-5{ margin-top: 5px !important; }
.mrr-5{ margin-right: 5px !important; }
.mrb-5{ margin-bottom: 5px !important; }
.mrl-5{ margin-left: 5px !important; }
.mr-5{ margin: 5px !important; }

.mrt-10{ margin-top: 10px !important; }
.mrr-10{ margin-right: 10px !important; }
.mrb-10{ margin-bottom: 10px !important; }
.mrl-10{ margin-left: 10px !important; }

.mrt-15{ margin-top: 15px !important; }
.mrr-15{ margin-right: 15px !important; }
.mrl-15{ margin-left: 15px !important; }
.mrb-15{ margin-bottom: 15px !important; }

.mrt-20{ margin-top: 20px !important; }
.mrr-20{ margin-right: 20px !important; }
.mrl-20{ margin-left: 20px !important; }
.mrb-20{ margin-bottom: 20px !important; }

.mrt-30{ margin-top: 30px !important; }
.mrr-30{ margin-right: 30px !important; }
.mrl-30{ margin-left: 30px !important; }
.mrb-30{ margin-bottom: 30px !important; }

.mrt-40{ margin-top: 40px !important; }
.mrr-40{ margin-right: 40px !important; }
.mrl-40{ margin-left: 40px !important; }
.mrb-40{ margin-bottom: 40px !important; }

.mrt-50{ margin-top: 50px !important; }
.mrr-50{ margin-right: 50px !important; }
.mrl-50{ margin-left: 50px !important; }
.mrb-50{ margin-bottom: 50px !important; }

.mrt-55{ margin-top: 55px !important; }
.mrr-55{ margin-right: 55px !important; }
.mrl-55{ margin-left: 55px !important; }
.mrb-55{ margin-bottom: 55px !important; }

.mrt-60{ margin-top: 60px !important; }
.mrr-60{ margin-right: 60px !important; }
.mrl-60{ margin-left: 60px !important; }
.mrb-60{ margin-bottom: 60px !important; }

.mrt-70{ margin-top: 70px !important; }
.mrr-70{ margin-right: 70px !important; }
.mrl-70{ margin-left: 70px !important; }
.mrb-70{ margin-bottom: 70px !important; }

.mrt-100{ margin-top: 100px !important; }

.no-pd{ padding: 0 !important; }
.pdl-0{ padding-left: 0px !important; }
.pdt-0{ padding-top: 0px !important; }
.pdr-0{ padding-right: 0px !important; }
.pdb-0{ padding-bottom: 0px !important; }

.pdl-5{ padding-left: 5px !important; }
.pdt-5{ padding-top: 5px !important; }
.pdr-5{ padding-right: 5px !important; }
.pdb-5{ padding-bottom: 5px !important; }

.pdl-10{ padding-left: 10px !important; }
.pdt-10{ padding-top: 10px !important; }
.pdr-10{ padding-right: 10px !important; }
.pdb-10{ padding-bottom: 10px !important; }

.pdl-15{ padding-left: 15px !important; }
.pdt-15{ padding-top: 15px !important; }
.pdr-15{ padding-right: 15px !important; }
.pdb-15{ padding-bottom: 15px !important; }

.text-left{ text-align: left !important; }
.text-right{ text-align: right !important; }
.text-center{ text-align: center !important; }

.w-80{ width: 80px !important; }
.w-90{ width: 90px !important; }
.w-100{ width: 100px !important; }
.w-125{ width: 125px !important; }
.w-130{ width: 130px !important; }
.w-150{ width: 125px !important; }
.w-200{ width: 220px !important; }

.wp-10{ width: 10%; }
.wp-20{ width: 20%; }
.wp-30{ width: 30%; }
.wp-40{ width: 40%; }
.wp-50{ width: 50%; }
.wp-60{ width: 60%; }
.wp-70{ width: 70%; }
.wp-80{ width: 80%; }
.wp-90{ width: 90%; }
.wp-100{ width: 100%; }

.fnt-5{ font-size:0.4em; }
.fnt-8{ font-size: 0.6em; }
.fnt-11{ font-size: 0.9em; }
.fnt-15{ font-size: 15px; }
.fnt-20{ font-size: 20px; }
.fnt-30{ font-size: 31px; }
.fnt-45{ font-size: 2.2em; }

.bg-none{ background-color: none !important; }



/*** Seccion Tableros ***/
.top-nav {
    position: relative;
    background: url("../Public/img/fondo.jpg") fixed;
}

.top-nav > div:first-child > div {
    height: 50px;
}

.bg-oscuro1{ 
    position: relative;
    background: url("../Public/img/fondo_oscuro1.png")repeat-x; 
 }
.bg-oscuro2{ 
    position: relative;
    background: url("../Public/img/fondo_oscuro2.png")repeat-x; 
}

.fl-nav{  
    position: absolute;
    top: 35%;
    right: -9px;
    width: 9px;
    height: 18px;
}

.fl-oscura1{ background: url("/Public/img/flecha_titulo_oscura.png") no-repeat center; }
.fl-oscura2{ background: url("/Public/img/flecha_subtitulo_clara.png") no-repeat center; }

img.img-titulo {
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px 5px 5px 10px;
}

span.lbl-titulo-g {
    color: #FFFFFF;
    float: left;
    font-family: Lucida Grande,Helvetica,Arial,Verdana,sans-serif;
    font-size: 15px;
    margin: 15px 10px 15px 0;
}

.submenu-seccion > li > a:hover, 
.submenu-seccion > li > a.btn-activo, 
.controls-row button:hover {
    background: none repeat scroll 0 0 #343535 !important;
    color: #00ACD9 !important;
}
.submenu-seccion li a, 
.submenu-seccion-simple li a, 
.controls-row button {
    color: #424242;
    cursor: pointer;
    font-size: 14px;
    min-width: 53px;
    text-align: center;
}

.submenu-seccion li a.btn-activo{
    background: none repeat scroll 0 0 #343535 !important;
    color: #00ACD9 !important;    
}

.cnt-submenu-opc {
    margin-right: 20px;
    margin-top: 13px;
}

.btn-atras {
    background: url("/Public/img/icono_flecha.png") no-repeat center center;
}
.img-btn {
    height: 25px;
    width: 25px;
}
.cnt-graf-datos{
    width: 300px;
    height: 330px;
    background: #FFF;
    border-radius: 6px;
    margin: 0 auto;
}
.lbl-graf{
    border-radius: 6px 6px 0 0;
}
.lbl-graf span{ 
    float: left;
    height: 30px;
    line-height: 29px;
}

.cnt-grafica-pie {
  background: url("/Public/img/fondo_grafica_pastel.png") no-repeat center center;
  display: block;
  height: 240px;
  margin: 0 auto;
  position: relative;
  width: 240px;
}
.circulo-dinamico {
  height: 210px;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 210px;
}
.cnt-grafica-text {
  background: url("/Public/img/circulo_blanco_grafica_pastel.png") no-repeat center center;
  color: #9A9691;
  font-size: 100px;
  font-weight: bold;
  height: 175px;
  left: 33px;
  line-height: 165px;
  position: absolute;
  text-align: center;
  top: 32px;
  width: 175px;
}

.cnt-leyendas{
  display: block;
  height: 50px;
  margin: 0 auto;
  position: relative;
  width: 240px;  
}
.lbl-leyenda{
  float: left;
  width: 112px;
  height: 18px;
  border: 1px solid #E8E6E3;
  font-size: 11px;
}
.lbl-leyenda-nom{
  float: left;
  height: 14px;
  line-height: 13px;
  padding: 4px 0 0;
}
.lbl-leyenda-val{
  float: right;
  width: 18px;
  height: 18px;
  background: none repeat scroll 0 0 #E8E6E3;
  text-align: center;
}
.img-sm{
   float: left;
   width: 13px;
   height: 13px;
   margin: 2px;
}
.sm-1{ background: url("/Public/img/sm_azul.png") no-repeat center; }
.sm-2{ background: url("/Public/img/sm_verde.png") no-repeat center; }
.sm-3{ background: url("/Public/img/sm_amarillo.png") no-repeat center; }
.sm-4{ background: url("/Public/img/sm_rojo.png") no-repeat center; }

/** color de fondo **/
.bg-c-1{ background-color: #424242; }

/** color de bordes **/
.brb-c-1{ border-bottom: 1px solid #E2E0DC; }

/** colores de fuente **/
.fnt-c-1{ color: #424242 !important; }
.fnt-c-2{ color: #FFF !important; }