﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="EstadoMecanico.aspx.cs" Inherits="SsipTableros.Modulos.TableroGlobal.EstadoMecanico" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
        
        <asp:DropDownList ID="lstEstadosMecanicos" runat="server" Height="32px"  Width="317px" AutoPostBack="True" OnSelectedIndexChanged="lstEstadosMecanicos_SelectedIndexChanged">
                 </asp:DropDownList>
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>
                
                <asp:TextBox ID="TextBox1" runat="server" Width="319px"></asp:TextBox>
               <iframe id="iFrame1" style="zoom: 260%" src="<% = ViewState["Ruta"]%>" width="500" height="500"></iframe>'

            </ContentTemplate>
        </asp:UpdatePanel>
    
    </div>
    </form>
</body>
</html>
